@import url("/fonts/FiraSans.css");

:root {
    --primary-color-raw: 3, 181, 170;
    --bg-color-dark-raw: 53, 53, 53;
    --bg-color-medium-raw: 80, 80, 80;
    --bg-color-light-raw: 115, 115, 115;

    --primary-color: rgb(var(--primary-color-raw));
    --bg-color-dark: rgb(var(--bg-color-dark-raw));
    --bg-color-medium: rgb(var(--bg-color-medium-raw));
    --bg-color-light: rgb(var(--bg-color-light-raw));

    --metadata-color: #dfdfdf;
}

html,
body {
    margin: 0px;
    padding: 0px;
    font-family: "Fira Sans";
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #88d7fc;
}
