.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--bg-color-dark);
    height: 100vh;
}

.searchWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;
}

.title {
    text-align: center;
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
}

.searchBoxWrapper {
    display: inline-flex;
    justify-content: center;
    width: 75vw;
    height: 32px;
    margin-top: 10px;
}

.searchBox {
    outline: none;
    flex: 1;
    border-width: 2px;
    border-style: solid;
    border-color: #fff;
    border-right-width: 0px;
    border-radius: 99px 0% 0% 99px;
    padding: 10px;
    font-size: 1.2rem;
    transition: border-color 0.2s;
}

.searchBox:focus {
    border-color: var(--primary-color);
}

.searchButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 0% 99px 99px 0%;
    background: var(--primary-color);
    padding: initial 10px;
    cursor: pointer;
}

.searchButton:hover svg {
    transform: scale(0.9);
}

.captionWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.captionStart,
.captionEnd {
    font-size: 20px;
    color: #fff;
}

.captionIcons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 50vw;
}

.captionIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    fill: #fff;
    transition: background 0.2s;
}

@media screen and (min-width: 768px) {
    .searchBoxWrapper {
        width: 70vw;
        height: 48px;
        margin-top: 10px;
    }
    .searchButton {
        padding: initial 20px;
        font-size: 30px;
    }
    .searchBox {
        padding: 20px;
        font-size: 25px;
    }
    .title {
        font-size: 3.2rem;
    }
    .captionIcons {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 1fr);
        width: 60vw;
    }
    .captionIcon {
        padding: 15px;
    }
    .captionStart,
    .captionEnd {
        font-size: 32px;
    }
}

@media screen and (min-width: 1024px) {
    .searchBoxWrapper {
        height: 50px;
        width: 60vw;
        margin-top: 20px;
    }
    .searchButton {
        font-size: 28px;
    }
    .searchBox {
        font-size: 24px;
    }
    .title {
        font-size: 3.2rem;
    }
    .captionIcons {
        width: 40vw;
    }
    .captionIcon {
        padding: 20px;
    }
    .captionStart,
    .captionEnd {
        font-size: 2rem;
    }
}

@media screen and (max-width: 420px) {
    .captionIcons {
        width: 60vw;
    }
    .searchBox {
        font-size: 0.95rem;
    }
}

@media screen and (max-width: 380px) {
    .captionIcons {
        width: 70vw;
    }
    .searchBox {
        font-size: 0.95rem;
    }
}

@media screen and (max-width: 300px) {
    .title {
        font-size: 28px;
    }
    .searchBoxWrapper {
        height: 25px;
    }
    .searchBox {
        font-size: 0.85rem;
    }
}
