.container {
    display: grid;
    grid-template-rows: min-content;
    background: var(--bg-color-medium);
    border-radius: 10px;
    max-height: 50vh;
    border: 1px solid var(--bg-color-light);
}

.header {
    display: grid;
    grid-template-columns: minmax(15px, 14%) auto;
    align-items: center;
    background: var(--bg-color-light);
    border-radius: 10px 10px 0 0;
    padding: 6px;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 99px;
    background: #fff;
    padding: 5px;
    margin-right: 10px;
}

.title {
    color: #fff;
    font-size: 1.2rem;
}

.content {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow: auto;
    color: #fff;
}

/* Inner content of a result */
.results {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.subresult {
    display: flex;
    flex-direction: column;
}

.subresultTitle {
    font-weight: bold;
    font-size: 1.1rem;
}

.subresultMetadata {
    font-size: 0.9rem;
    color: var(--metadata-color);
}

.subresultResults {
    display: flex;
    flex-direction: column;
}

.result {
    display: flex;
    flex-direction: column;
    background: var(--bg-color-dark);
    padding: 8px;
    border-radius: 8px;
    margin: 5px 0px;
}

.result p {
    margin: 2.5px 0px;
}

.result ol,
.result ul {
    margin: 5px 0px;
}

.resultCompact {
    flex-direction: row;
}

.resultCompactLeftWrapper,
.resultCompactRightWrapper {
    display: flex;
    flex-direction: column;
}

.resultHeader {
    font-size: 0.9rem;
    color: var(--metadata-color);
    grid-area: header;
}

.resultTitle {
    font-size: 1rem;
    font-weight: 500;
    grid-area: title;
}

.resultDescription {
    position: relative;
    font-size: 0.95rem;
    color: #fcfcfc;
    margin: 5px 0px;
    grid-area: description;
}

.resultNormal .resultDescription {
    padding: 0px 5px;
}

.resultFooter {
    font-size: 0.9rem;
    color: var(--metadata-color);
    grid-area: footer;
}

.resultImage {
    grid-area: image;
    padding: 5px;
    height: 100%;
    width: 100%;
}

.noResults {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

@media screen and (min-width: 768px) {
    .container {
        width: 100%;
    }
    .image {
        padding: 3px;
    }
    .header {
        padding: 4px;
    }
}
