.container {
    display: grid;
    grid-template-rows: min-content;
    background: var(--bg-color-medium);
    border-radius: 10px;
    max-height: 50vh;
    border: 1px solid var(--bg-color-light);
}

.header {
    display: grid;
    grid-template-columns: minmax(15px, 14%) auto;
    align-items: center;
    background: var(--bg-color-light);
    border-radius: 10px 10px 0 0;
    padding: 6px;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 99px;
    background: #fff;
    padding: 5px;
    margin-right: 10px;
}

.title {
    color: #fff;
    font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
    .container {
        width: 100%;
    }
    .image {
        padding: 3px;
    }
    .header {
        padding: 4px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow: auto;
    color: #fff;
}

/* Result Styles */
.results {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.subresult {
    display: flex;
    flex-direction: column;
}

.subresult-title {
    font-weight: bold;
    font-size: 1.1rem;
}

.subresult-metadata {
    font-size: 0.9rem;
    color: var(--metadata-color);
}

.subresult-results {
    display: flex;
    flex-direction: column;
}

.result {
    background: var(--bg-color-dark);
    padding: 8px;
    border-radius: 8px;
    margin: 5px 0px;
}

.result p {
    margin: 2.5px 0px;
}

.result ol,
.result ul {
    margin: 5px 0px;
}

.result-normal {
    display: flex;
    flex-direction: column;
}

.result-compact {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-auto-rows: min-content;
    grid-template-areas:
        "image header"
        "image title"
        "image description"
        "image footer";
}

.result-header {
    font-size: 0.9rem;
    color: var(--metadata-color);
    grid-area: header;
}

.result-title {
    font-size: 1rem;
    font-weight: 500;
    grid-area: title;
}

.result-description {
    position: relative;
    font-size: 0.95rem;
    color: #fcfcfc;
    margin: 5px 0px;
    grid-area: description;
}

.result-normal .result-description {
    padding: 0px 5px;
}

.result-footer {
    font-size: 0.9rem;
    color: var(--metadata-color);
    grid-area: footer;
}

.result-image {
    grid-area: image;
    padding: 5px;
    height: 100%;
    width: 100%;
}
/* 
.result-image div {
    width: 100%;
    height: 100%;
} */

/* 
.result-image img {
    margin: 0 !important;
    width: 100% !important;
    height: auto !important;
    min-width: auto !important;
    max-width: none !important;
    min-height: auto !important;
    max-height: none !important;
} */
